.modal-header, #news-title, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #5cb85c;
}
#usrMsg {
  font-size: 18px;
}
